.user{  
    background: url(../images/icons/user.png) no-repeat !important;  
} 

.piano{  
    background: url(../images/icons/piano.png) no-repeat !important;  
} 

.palette{  
    background: url(../images/icons/palette.png) no-repeat !important;  
} 

.picture{  
    background: url(../images/icons/picture.png) no-repeat !important;  
}

.slide{  
    background: url(../images/icons/slide.png) no-repeat !important;  
}

.ruler{  
    background: url(../images/icons/ruler_triangle.png) no-repeat !important;  
}

.money{  
    background: url(../images/icons/money.png) no-repeat !important;  
}

.cog{  
    background: url(../images/icons/cog.png) no-repeat !important;  
} 

.house{  
    background: url(../images/icons/house.png) no-repeat !important;  
} 
